.pass{
    color: green;

}
.fail{
    color: red;
}
.skip{
    color: orange;
}

.size{
    width: 10rem; height: 5rem;
    margin: auto;
}

.secondrow{
  
    color: white;
    font-size: small;
    font-weight:bold;
    margin:auto;
    height: 50px;
    
  }