<button routerLink="/executions" type="button" class="btn btn-dark">Executions</button>
<button routerLink="/testcases" type="button" class="btn btn-primary">Test Cases</button>


  <div class="mt-3">
    
    <div class="">
      
      <div class="container" id="accordion">
        <div class="  firstrow bg-dark datatable">
              <div class="row row1 ">
                <div class="col-2 mt-2"> Details</div>
                
                <div class="col-7 mt-2">
                    Test Case
                  
                </div>   
                <div class="col-3 mt-2">
                  Execution times
                
              </div>
                
    
              </div>
        </div>
        <div class="card text-black " *ngFor="let execution of tb_suitescount ; let i = index" >
            <div class="card-header" id="headingOne" >
                <div class="row ">
                  <!--Execution-->
                  <button class="col-1 btn btn-link" data-toggle="collapse" attr.data-target="#collapse{{i+1}}" aria-expanded="false" attr.aria-controls="collapse{{execution.Execution_Id}}">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                  </button>
                  
                  <div class="col-7">{{execution.Suite_Name}}</div>
                  <div class="col-3 text-center">{{execution.Execution_count}}</div>
                  
                  <!--Execution-->
                  
                </div>
              
            </div>
            
             <!--Details-->
            <div attr.id="collapse{{i+1}}" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
              <div class=" card-body">
                
                <div  class=" row secondrow bg-dark ">
                  
                  <div class="col-1 mt-2">
                    Details
                  
                </div>  
                  <div class="col-3 mt-2">
                      Test Case
                    
                  </div>   
                  <div class="col-2 mt-2">
                    Execution (Date/Time)
                  
                  </div>
                  <div class="col-1 mt-2">Time (Sec)</div>
                  <div class="col-1 mt-2">Test Result</div>
                  
                  <div class="col-1 mt-2">Steps Passed</div>
                  <div class="col-1 mt-2">Steps Failed</div>
                  <div class="col-1 mt-2">Steps Skipped</div>
                  
                </div>
                
                <div  *ngFor="let test of tb_executionssort">
                  <div class="row border-bottom" *ngIf="test.Suite_Name===execution.Suite_Name">
                    <button class="col-1 btn btn-link" data-toggle="modal" attr.data-target="#Modal{{i+1}}" (click)="voirIndexDevis(test)" data-target=".bd-example-modal-lg" aria-expanded="false" >
                      <i class="fa fa-bars" aria-hidden="true"></i>
                      <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </button>
                    <div class="col-3">{{test.Suite_Name}}</div>
                    <div class="col-2">{{test.Execution_Date}}</div>
                    <div class="col-1">{{test.Execution_Time}}</div>
                    <div class="col-md-1 pass" *ngIf="test.Suite_Status === 'PASS'">{{(test.Suite_Status)}}</div>
                    <div class="col-md-1 fail" *ngIf="test.Suite_Status === 'FAIL'">{{(test.Suite_Status)}}</div>
                    
                    <div class=" col-1 pass">{{test.Suite_Pass}}</div>
                    <div class="col-1 fail">{{test.Suite_Fail}}</div>
                    <div class="col-1 skip">{{test.Suite_Skip}}</div>
                  </div>
                  
                </div>
                <!--Detalis2-->
                <div attr.id="Modal{{i+1}}" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="headingOne" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    
            
                    <div class="modal-content">

                      <div  class=" modal-header thirdrow bg-dark ">
                      
                        <div class="col-md-5 mt-2">Step Name</div>
                        <div class="col-md-2 mt-2">Step Status</div>
                        <div class="col-md-4 mt-2">Step Error</div>
                        <button type="button" class="col-md-1 close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    
                    <div  *ngFor="let test2 of tb_tests ">
                      <div class="newrow border-bottom bg-white" *ngIf="test2.Execution_Id===currentListe?.Execution_Id">
                        <div class="col-md-5">{{test2.Test_Name}}</div>
                        <div class="col-md-1 pass" *ngIf="test2.Test_Status === 'PASS'">{{(test2.Test_Status)}}</div>
                        <div class="col-md-1 fail" *ngIf="test2.Test_Status === 'FAIL'">{{(test2.Test_Status)}}</div>
                        <div class="col-md-5" >{{test2.Test_Error}}</div>
                      </div>
                      
                    </div>

                    </div>

                    
                    
                    
                    
                    
                  </div>
                </div>
                <!--Details2-->
                
                
                
                
                
              </div>
            </div>
            <!--Details-->
          </div>
          
          
          </div>
        
      
        
      
    </div>
  
    
  
  
  
  
  
    
  
  
     
  </div>