<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
<link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">


<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

      <!-- Section: Social media -->
      <div class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/FreedomOfDev" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://twitter.com/freedomofdev" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google 
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>  
        -->
  
        <!-- Instagram 
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
        -->
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.linkedin.com/company/freedom-of-dev" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
         -->
          </div>

          <!-- Section: Social media -->
          <a>Contact Us</a><br>
          <i>Menzel Chaker Road km 2.5, Sfax, Tunisia<br></i>
          <i class="fa fa-phone" aria-hidden="true">  +216 74 62 39 72</i><br>
          +216 31 32 20 32<br>
          <i class="fa fa-fax" aria-hidden="true">    +216 74 62 39 72</i><br>
          <i class="fa fa-envelope" aria-hidden="true">	   info@freedomofdev.com</i><br>



      © 2021 Copyright:
      <a class="text-white" href="https://www.freedomofdev.com/">Freedom of Dev</a>
    </div>
    <!-- Copyright -->
  </footer>