<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
        <h5 id="response" class="text-danger" ></h5>
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Register</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="uname1">Username</label>
                <input class="form-control rounded-0" [(ngModel)]="registerUserData.email" name="email" type="text" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input (keyup.enter)="registerUser()" class="form-control rounded-0" [(ngModel)]="registerUserData.password" name="password" type="password" required>
              </div>
              <div class="form-group">
                <label>Chose Role (admin/reader)</label>
                <input (keyup.enter)="registerUser()" class="form-control rounded-0" [(ngModel)]="registerUserData.role" name="role" type="text" required>
                <br>
                
              
              </div>
              
              <button type="button" (click)="registerUser()" class="btn btn-success float-right">Register</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>
  